<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>:: META-SOCIO ::</title>
</head>
<body>
	<script type="text/javascript" src="assets/js/jquery-1.11.3.js"></script>
	<script src="assets/js/like.js"></script>
	<script src="assets/js/Loader.js"></script>
	<script src="assets/js/moment.js"></script>
	<script src="assets/js/livestamp.js"></script>
	<script src="assets/js/bootstrap/bootstrap.min.js"></script>
	<script src="assets/js/bootstrap/bootstrap-datepicker.min.js"></script>
	<script src="assets/js/plugins/jquery.easing.min.js"></script>
	<script src="assets/js/plugins/classie.js"></script>
	<script src="assets/js/plugins/cbpAnimatedHeader.js"></script>
	<script src="assets/js/plugins/wow/wow.min.js"></script>
	<script src="assets/js/plugins/jqBootstrapValidation.js"></script>
	<script src="assets/js/vitality.js"></script>
	<script src="assets/js/search.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/profile.js"></script>
</body>
</html>