@CHARSET "ISO-8859-1";

body {
	background: #CCCCFF;
}

#wrapper {
	margin: 0 auto;;
	width: 25%;
	margin-top: 50px;
	height: 195px;
	border: 1px solid black;
	background: #CCCCCC;
}

h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

form {
	float: left;
	border: 1px solid black;
	width: 100%;
}

.input {width =80%;
	
}

button {
	width: 25%;
	margin-top: 5%;
	margin-left: 35%;
}

#error {
	color: red;
}

tr {
	text-align: center;
}

#register {
	margin: 0 auto;
	margin-top: 20px;
	width: 25%;
	height: 30px;
}

#image {
	float: left;
	width: 15%;
	height: 30px;
}

p {
	margin-left: 20px;
	padding-top: 2px;
	margin-top: 2px;
	font-size: 25px;
	font-weight: bold;
	color: blue;
}